{% set documentation = [
    {
        'name': 'Mesh',
        'icon': 'icons/blender-icons/MESH_GRID.svg',
        'parameters': [
            {
                'name': "Height",
                'excerpt': 'Allows to control water height.',
                'image': {
                    'src':'../img/documentation/mesh_height.jpg',
                    'alt':'Height example'
                }
            },
            {
                'name': 'Size',
                'excerpt': 'The size of water mesh domain.',
                'description': 'Water deformation from waves is applied within this distance.',
                'image': {
                    'src':'../img/documentation/mesh_size.jpg',
                    'alt':'Size example'
                }
            },
            {
                'name': 'Resolution',
                'excerpt': 'Resolution of water mesh.',
                'description': 'Higher values equal higher quality, but come at a cost to performance.',
                'image': {
                    'src':'../img/documentation/mesh_resolution.jpg',
                    'alt':'Resolution example'
                }
            },
            {
                'name': 'Detail Resolution',
                'excerpt': 'A subdivision of resolution parameter.',
                'description': 'Improves quality at a performance cost.',
                'image': {
                    'src':'../img/documentation/mesh_detail_resolution.jpg',
                    'alt':'Detail resolution example'
                }
            },
            {
                'name': 'Shrinkwrap',
                'excerpt': 'Select an object that the ocean will attempt to shrinkwrap to. Can be used to make the ocean match the shape of a local fluid simulation or to add some artistically driven shapes.',
                'image': {
                    'src':'../img/documentation/mesh_shrinkwrap.jpg',
                    'alt':'Shrinkwrap example'
                }
            },

        ]
    },
    {
        'name': 'Material',
        'icon': 'icons/blender-icons/MATERIAL.svg',
        'parameters': [
            {
                'name': 'Type',
                'excerpt': 'A choice between Refractive and Subsurface scatter.',
                'image': {
                    'src':'../img/documentation/material_type.jpg',
                    'alt':'Material Type'
                }
            },
            {
                'name': 'Color',
                'excerpt': 'The scattering color of ocean.',
                'image': {
                    'src':'../img/documentation/material_color.jpg',
                    'alt':'Material Color'
                }
            },
            {
                'name': 'Extinction',
                'excerpt': 'The extinction parameter of ocean material. Allows determining how quickly different colors get absorbed by water.',
                'description': 'In most cases should be the inverse of color parameter, but can be varied to accommodate certain material properties and for artistic control.',
                'image': {
                    'src':'../img/documentation/material_extinction.jpg',
                    'alt':'Material Extinction'
                }
            },
            {
                'name': 'Scattering distance',
                'excerpt': 'A factor by which light gets scattered over distance.',
                'description': 'Lower number equals less scattering per light distance travelled, thus resulting in better underwater clarity.',
                'image': {
                    'src':'../img/documentation/material_scattering_distance.jpg',
                    'alt':'Material Scattering Distance'
                }
            },
            {
                'name': 'Vertical Scattering',
                'excerpt': 'Adjusts the amount of light scattering vertically in the ocean surface simulation.',
                'description': 'Increasing this parameter enhances the vertical distribution of scattered light, affecting the appearance of subsurface details and light diffusion below the surface.',
                'image': {
                    'src':'../img/documentation/material_vertical_scattering.jpg',
                    'alt':'Material Vertical Scattering'
                }
            },
            {
                'name': 'Vertical Scattering Exponent',
                'excerpt': 'Controls the exponent used in the calculation of vertical scattering.',
                'description': 'This parameter fine-tunes the rate at which light scatters vertically through the ocean surface. Adjusting this exponent alters the distribution and intensity of vertical scattering.',
                'image': {
                    'src':'../img/documentation/material_vertical_scattering_exponent.jpg',
                    'alt':'Material Vertical Scattering Exponent'
                }
            },
            {
                'name': 'Snell’s Scattering',
                'excerpt': 'Specifies the coefficient used in the calculation of light refraction based on Snell’s Law at the ocean surface.',
                'description': 'This coefficient determines the degree of bending of light rays as they pass through the water-air interface.',
                'image': {
                    'src':'../img/documentation/material_snells_scattering.jpg',
                    'alt':'Material Snell’s Scattering'
                }
            },
            {
                'name': 'Forward Scattering',
                'excerpt': 'Controls the amount of forward scattering of light in the ocean surface simulation.',
                'description': 'Forward scattering occurs when light is redirected along its original path or slightly deviates from it, influencing the overall visibility and atmosphere of the scene.',
                'image': {
                    'src':'../img/documentation/material_forward_scattering.jpg',
                    'alt':'Material Forward Scattering'
                }
            },
            {
                'name': 'Back Scattering',
                'excerpt': 'Adjusts the intensity of backscattering in the ocean surface simulation.',
                'description': 'Back scattering involves the redirection of light away from its original path, influencing the overall brightness and visual clarity of the water surface.',
                'image': {
                    'src':'../img/documentation/material_back_scattering.jpg',
                    'alt':'Material Back Scattering'
                }
            },
            {
                'name': 'Reflection IOR',
                'excerpt': '',
                'description': '',
                'image': {
                    'src':'../img/documentation/material_reflaction_ior.jpg',
                    'alt':'Material Reflection IOR'
                }
            },
            {
                'name': 'Refraction IOR',
                'excerpt': '',
                'description': '',
                'image': {
                    'src':'../img/documentation/material_refraction_ior.jpg',
                    'alt':'Material Refraction IOR'
                }
            },
            {
                'name': 'Refraction Dispersion',
                'excerpt': '',
                'description': '',
                'image': {
                    'src':'../img/documentation/material_refraction_dispersion.jpg',
                    'alt':'Material Refraction Dispersion'
                }
            },
            {
                'name': 'Reflection Fresnel Boost',
                'excerpt': '',
                'description': '',
                'image': {
                    'src':'../img/documentation/material_reflection_fresnel_boost.jpg',
                    'alt':'Material Reflection Fresnel Boost'
                }
            },
            {
                'name': 'Camera Near Offset',
                'excerpt': 'Offsets the near clipping plane of the camera used in the simulation.',
                'description': 'This parameter adjusts the minimum distance from the camera at which objects are rendered, preventing clipping issues and improving the rendering of nearby objects.',
                'image': {
                    'src':'../img/documentation/material_camera_near_offset.jpg',
                    'alt':'Material Camera Near Offset'
                }
            },
            {
                'name': 'Color',
                'excerpt': '',
                'description': '',
                'image': {
                    'src':'../img/documentation/material_color.jpg',
                    'alt':'Material '
                }
            },
            {
                'name': 'Subsurface Scale',
                'excerpt': '',
                'description': '',
                'image': {
                    'src':'../img/documentation/material_subsurface_scale.jpg',
                    'alt':'Material '
                }
            },
            {
                'name': 'Reflection IOR',
                'excerpt': '',
                'description': '',
                'image': {
                    'src':'../img/documentation/material_reflection_ior.jpg',
                    'alt':'Material '
                }
            },
            
        ]   
    },
    {
        'name': 'Camera & LOD',
        'icon': 'icons/blender-icons/VIEW_CAMERA.svg',
        'parameters': [
            {
                'name': 'Camera',
                'excerpt': '',
                'image': {
                    'src':'../img/documentation/camera_and_lod_camera.jpg',
                    'alt':'Camera'
                }
            },
            {
                'name': 'End Clip Plane',
                'excerpt': 'Sets the distance from the camera beyond which objects are no longer rendered.',
                'description': 'This parameter determines the furthest point in the scene that is visible to the camera. It’s a built-in parameter for camera, exposed in the addon for ease of access.'
            },
            {
                'name': 'View Frustum Boost',
                'excerpt': 'Adjusts the size of the view frustum used for rendering the ocean.',
                'description': 'The view frustum defines the visible portion of the scene from the camera’s perspective. This is used to cull parts of ocean for performance, tweak this in case of unwanted artifacts.'
            },
            {
                'name': 'Far LOD Offset',
                'excerpt': 'Relative distance at which the lowest LOD level is used.',
            },
            {
                'name': 'Near LOD Offset',
                'excerpt': 'Relative distance at which the highest LOD level ends.',
            },
            {
                'name': 'LOD Exponent',
                'excerpt': 'Controls the transition between ocean LOD levels.',
            },
            {
                'name': 'Time Multiplier',
                'excerpt': 'Multiplier for simulation time.',
            },
            {
                'name': 'Water Edge',
                'excerpt': 'Enables the rendering of a defined boundary or edge for the water surface in the scene.',
                'description': 'This parameter controls the visibility and appearance of the boundary where the water meets camera as it gets submerged.'
            },
            {
                'name': 'Z Offset',
                'excerpt': 'Adjusts the offset of the water edge boundary relative to the camera. ',
                'description': 'This parameter modifies the position of the boundary line, allowing for fine-tuning of its placement.'
            },
            {
                'name': 'Width',
                'excerpt': 'Control the width of the water edge. Generally recommended to extend it just past camera boundary.',
            },
            {
                'name': 'Height',
                'excerpt': 'Control the height of the water edge, changing how large it appears on the screen.',
                'description': 'Positive values make camera hydrophilic, while negative ones make it appear hydrophobic.'
            },
            {
                'name': 'Resolution',
                'excerpt': 'Determines the level of detail or smoothness of the water edge boundary line.',
                'description': 'This parameter controls the number of vertices or segments used to render the boundary line, affecting its visual quality and smoothness.'
            },

        ]
    },
    {
        'name': 'Waves',
        'icon': 'icons/blender-icons/MOD_OCEAN.svg',
        'parameters': [
            {
                'name': 'Smallest wave',
                'excerpt': 'Control the horizontal scale of smallest waves (in meters).'
            },
            {
                'name': 'Largest wave',
                'excerpt': 'Control the horizontal scale of largest waves (in meters).'
            },
            {
                'name': 'Wave height',
                'excerpt': 'Set the max range of wave amplitude (in meters).'
            },
            {
                'name': 'Wind speed',
                'excerpt': 'Set a wind speed to affect how waves get shaped.'
            },
            {
                'name': 'Distribution Log',
                'excerpt': 'A logarithmic distribution parameter for waves.',
                'description': 'Allows to bias waves towards higher or lower frequencies.'
            },
            {
                'name': 'Dispersion',
                'excerpt': 'Control wave dispersion angle. Low values make concentric wave strips, while higher values create a more chaotic ocean.',
            },
            {
                'name': 'Angle',
                'excerpt': 'Change the dominant wind and wave flow direction.'
            },
            {
                'name': 'Skew',
                'excerpt': 'Control wave skew strength.'
            },
            {
                'name': 'Choppiness',
                'excerpt': 'Control how sharp and choppy wave peaks appear.'
            },
            {
                'name': 'Foam Amount',
                'excerpt': 'Control the amount of foam forming at wave peaks.'
            },
        ]
    },
    {
        'name': 'Capillary Waves',
        'icon': 'icons/blender-icons/FORCE_FORCE.svg',
        'parameters': [
            {
                'name': 'Strength',
                'excerpt': 'The strength of capillary waves. Higher values make for more defined waves.',
            },
            {
                'name': 'Scale',
                'excerpt': 'Scale of capillary waves. Higher scale value means more waves per surface area.',
            },
            {
                'name': 'Stretch',
                'excerpt': 'Control stretching of capillary waves.',
                'description': 'Higher stretch value makes more stripey-appearing waves.'
            },
            {
                'name': 'Direction',
                'excerpt': 'The direction of capillary waves.',
                'description': 'Having this value differ from dominant wave direction allows simulating effect of local breeze being different from main wind direction, as an example.'
            },
            {
                'name': 'Speed',
                'excerpt': 'Speed of capillary wave movement.'
            },
            {
                'name': 'Variance',
                'excerpt': 'Capillary wave variance across the ocean surface.',
                'description': 'Lower values make more uniform looking capillary waves.'
            },
            {
                'name': 'Drag',
                'excerpt': 'How strongly major waves drag capillary waves along with them.'
            },
            {
                'name': 'Mask Scale',
                'excerpt': 'Control scale of the mask texture used to vary capillary wave distribution.'
            },
            {
                'name': 'Mask Minimum',
                'excerpt': 'Capillary wave amount in lower mask parts.'
            },
            {
                'name': 'Mask Maximum',
                'excerpt': 'Capillary wave amount in higher mask parts.'
            },
            {
                'name': 'Roughness Minimum',
                'excerpt': 'Water surface roughness in lower mask parts.'
            },
            {
                'name': 'Roughness Maximum',
                'excerpt': 'Water surface roughness in higher mask parts.'
            },
        ]
    },
    {
        'name': 'Wakes & Ripples',
        'icon': 'icons/blender-icons/SHARPCURVE.svg',
        'parameters': [
            {
                'name': 'Wakes',
                'excerpt': 'Select an object to be a wakes caster.'
            },
            {
                'name': 'Wake Height',
                'excerpt': 'Control the height/strength of wakes produced.'
            },
            {
                'name': 'Ripples',
                'excerpt': 'Select object and enable ripple checkbox to make the object produce ripples.'
            },
            {
                'name': 'Boolean',
                'excerpt': 'Select object and enable boolean checkbox to make the object cut a boolean hole in ocean.'
            }
        ]
    },
    {
        'name': 'Underwater',
        'icon': 'icons/blender-icons/POINTCLOUD_DATA.svg',
        'parameters': [
            {
                'name': 'Objects',
                'excerpt': 'Select objects with materials to apply underwater effects.'
            },
            {
                'name': 'Submerged Underwater',
                'excerpt': 'Toggle underwater calculations for selected objects materials.'
            },
            {
                'name': 'Advanced Intersection',
                'excerpt': 'Toggle advanced intersection calculation.',
                'description': 'Gives more accurate underwater shader that matches wave shapes. Comes at a performance cost, so only use it for objects nearby where this is noticeable.'
            },
            {
                'name': 'Particles',
                'excerpt': 'Enables underwater particles.'
            },
            {
                'name': 'Domain size',
                'excerpt': 'Determine the size of a simulated particle domain around camera.'
            },
            {
                'name': 'Domain Z Offset',
                'excerpt': 'How far from camera particle domain is visible.',
                'description': 'Use to avoid potentially cut-off particles.'
            },
            {
                'name': 'World Underwater',
                'excerpt': 'Allows to toggle underwater shader for world shader.',
                'description': 'It is used for ensuring fully covered underwater shader, including default Eevee reflections and refractions.'
            },
            {
                'name': 'Advanced Volumetrics',
                'excerpt': 'Enable Blender volumetrics in the ocean shader.',
                'description': 'Allows for per-light interactions and shadows. High performance impact, especially in Cycles.'
            },
            {
                'name': 'Volume Density',
                'excerpt': 'How strong the advanced volumetrics volume is.'
            },
            {
                'name': 'Volume Distance',
                'excerpt': 'Range in which the advanced volumetrics are used from camera.'
            }
        ]
    },
]%}

!!! tip ""
    Hey :wave:, first time here? You can find the installation guide and first run in the [getting started](/pow/getting-started/) section.

* [Mesh](#mesh)
* [Material](#material)
* [Camera & LOD](#camera-lod)
* [Waves](#waves)
* [Capillary Waves](#capillary-waves)
* [Wakes & Ripples](#wakes-ripples)
* [Underwater](#underwater)


{% for section in documentation %}
## <span class="twemoji">{% include section.icon %}</span> {{ section.name }}
{% for parameter in section.parameters %}
### {{ parameter.name }}
<div class="parameter">
    <div class="parameter__info">
        <span>{{ parameter.excerpt }}</span>{% if parameter.description != '' %}<span style="margin-left: 4px; color: rgba(0,0,0,.5)">{{ parameter.description }}</span>{% endif %}
    </div>
    <div class="parameter__video">{% if parameter.video and parameter.video.src %}<video autoplay loop muted playsinline ><source src="{{parameter.video.src}}" type="video/mp4"></video>{% elseif parameter.image %}<img src="{{parameter.image.src}}" alt="{{parameter.image.alt}}" />{% endif %}</div>
</div>
{% if parameter.image_post %}<div class="parameter mb-64"><img src="{{parameter.image_post.src}}" alt="{{parameter.image_post.alt}}" /></div>{% endif %}
{% endfor %}
{% if section.post_block %}{{section.post_block}}{% endif %}
{% endfor %}