{% set documentation = [
    {
        'name': 'Mesh',
        'icon': 'icons/blender-icons/MESH_GRID.svg',
        'parameters': [
            {
                'name': "Height",
                'excerpt': 'Allows to control water height.',
                'video': {
                    'src':'../docs/img/DOCUMENTATION/MESH_HEIGHT.mp4',
                    'alt':'Mesh Height'
                },
            },
            {
                'name': 'Size',
                'excerpt': 'The size of water mesh domain.',
                'description': 'Water deformation from waves is applied within this distance.',
                'video': {
                    'src':'../docs/img/DOCUMENTATION/MESH_SIZE.mp4',
                    'alt':'Mesh Size'
                },
            },
            {
                'name': 'Resolution',
                'excerpt': 'Resolution of water mesh.',
                'description': 'Higher values equal higher quality, but come at a cost to performance.',
                'video': {
                    'src':'../docs/img/DOCUMENTATION/MESH_RESOLUTION.mp4',
                    'alt':'Mesh Resolution'
                },
            },
            {
                'name': 'Detail Resolution',
                'excerpt': 'A subdivision of resolution parameter.',
                'description': 'Improves quality at a performance cost.',
                'video': {
                    'src':'../docs/img/DOCUMENTATION/MESH_DETAIL_RESOLUTION.mp4',
                    'alt':'Mesh Detail Resolution'
                },
            },
            {
                'name': 'Shrinkwrap',
                'excerpt': 'Select an object that the ocean will attempt to shrinkwrap to.',
                'description': 'Can be used to make the ocean match the shape of a local fluid simulation or to add some artistically driven shapes.'
            },

        ]
    },
    {
        'name': 'Material',
        'icon': 'icons/blender-icons/MATERIAL.svg',
        'parameters': [
            {
                'name': 'Type',
                'excerpt': 'A choice between Refractive and Subsurface scatter.',
                'description': 'Refractive material uses more a complex shader, that can potentially be slower but gives more realistic results. It includes light refraction and dispersion effects. Subsurface material uses a simple subsurface shader to approximate underwater color and light scattering.'
            },
            {
                'name': 'Color',
                'excerpt': 'The scattering color of the ocean.',
                'description': ' Adjusting the ocean color helps achieve the desired visual effect for different types of water bodies, from clear tropical waters to deep, murky seas.'
                'video': {
                    'src':'../docs/img/DOCUMENTATION/MATERIAL_COLOR.mp4',
                    'alt':'Material Color'
                },
            },
            {
                'name': 'Extinction',
                'excerpt': 'The extinction parameter of ocean material. Determines how quickly different colors get absorbed by water.',
                'description': 'In most cases should be the inverse of the color parameter, but can be varied to accommodate certain material properties and for artistic control.'
            },
            {
                'name': 'Scattering distance',
                'excerpt': 'A factor by which light gets scattered over distance.',
                'description': 'Lower number equals less scattering per light distance traveled, thus resulting in better underwater clarity.'
            },
            {
                'name': 'Vertical Scattering',
                'excerpt': 'Adjusts the amount of light scattering vertically in the ocean surface simulation.',
                'description': 'Increasing this parameter enhances the vertical distribution of scattered light, affecting the appearance of subsurface details and light diffusion below the surface.'
            },
            {
                'name': 'Vertical Scattering Exponent',
                'excerpt': 'Controls the exponent used in the calculation of vertical scattering.',
                'description': 'This parameter fine-tunes the rate at which light scatters vertically through the ocean surface. Adjusting this exponent alters the distribution and intensity of vertical scattering.'
            },
            {
                'name': 'Snell’s Scattering',
                'excerpt': 'Specifies the coefficient used in the calculation of light refraction based on Snell’s Law at the ocean surface.',
                'description': 'This coefficient determines the degree of bending of light rays as they pass through the water-air interface.'
            },
            {
                'name': 'Forward Scattering',
                'excerpt': 'Controls the amount of forward scattering of light in the ocean surface simulation.',
                'description': 'Forward scattering occurs when light is redirected along its original path or slightly deviates from it, influencing the overall visibility and atmosphere of the scene.'
            },
            {
                'name': 'Back Scattering',
                'excerpt': 'Adjusts the intensity of backscattering in the ocean surface simulation.',
                'description': 'Back scattering involves the redirection of light away from its original path, influencing the overall brightness and visual clarity of the water surface.'
            },
            {
                'name': 'Reflection IOR',
                'excerpt': 'Index of reflection for ocean reflections.',
                'description': 'Affects reflectivity and more perpendicular view angles to the surface. Higher IOR generally gives a more reflective surface. Most commonly will match with Refraction IOR.'
                'video': {
                    'src':'../docs/img/DOCUMENTATION/MATERIAL_REFLECTION_IOR.mp4',
                    'alt':'Material Reflection IOR'
                },
            },
            {
                'name': 'Refraction IOR',
                'excerpt': 'Index of refraction for ocean refractions.',
                'description': 'Affects how much light gets refracted. Higher values cause larger refractive distortion when looking at objects underwater.'
                'video': {
                    'src':'../docs/img/DOCUMENTATION/MATERIAL_REFRACTION_IOR.mp4',
                    'alt':'Material Refraction IOR'
                },
            },
            {
                'name': 'Refraction Dispersion',
                'excerpt': 'Amount of dispersion in the material.',
                'description': 'Allows tweaking the amount of dispersion. Larger values cause larger chromatic fringing around the edges of refracted objects. At a value of 0, no dispersion effects will be seen.'
            },
            {
                'name': 'Reflection Fresnel Boost',
                'excerpt': 'Fresnel boost for improving the look of reflections when using a plane reflection probe.',
                'description': 'When using a plane reflection probe, the reflections may look off. Use this to tweak them and make them look more in line with other reflection techniques.'
                'video': {
                    'src':'../docs/img/DOCUMENTATION/MATERIAL_REFLECTION_FRESNEL_BOOST.mp4',
                    'alt':'Material Reflection Fresnel Boost'
                },
            },
            {
                'name': 'Camera Near Offset',
                'excerpt': 'Offsets the near-clipping plane of the camera used in the simulation.',
                'description': 'This parameter adjusts the minimum distance from the camera at which objects are rendered, preventing clipping issues and improving the rendering of nearby objects.'
            },
            {
                'name': 'Color',
                'excerpt': 'The scattering color of ocean.',
                'video': {
                    'src':'../docs/img/DOCUMENTATION/MATERIAL_COLOR.mp4',
                    'alt':'Material Color'
                },
            },
            {
                'name': 'Subsurface Scale',
                'excerpt': 'The scale factor for scattering radius.',
                'description': 'Determines how deep the light scattering penetrates the surface, affecting the softness of scattered light.'
            },
            {
                'name': 'Reflection IOR',
                'excerpt': '',
                'description': '',
                'video': {
                    'src':'../docs/img/DOCUMENTATION/MATERIAL_REFLECTION_IOR.mp4',
                    'alt':'Material Reflection IOR'
                },
            },
            
        ]   
    },
    {
        'name': 'Camera & LOD',
        'icon': 'icons/blender-icons/VIEW_CAMERA.svg',
        'parameters': [
            {
                'name': 'Camera',
                'excerpt': 'Current camera object used by the addon.',
                'description': 'The camera is mandatory for the addon to work properly.'
            },
            {
                'name': 'End Clip Plane',
                'excerpt': 'Sets the distance from the camera beyond which objects are no longer rendered.',
                'description': 'This parameter determines the furthest point in the scene that is visible to the camera. It’s a built-in parameter for the camera, exposed in the add-on for ease of access.'
                'video': {
                    'src':'../docs/img/DOCUMENTATION/CAMERA_END.mp4',
                    'alt':'Camera End Clip Plane'
                },
            },
            {
                'name': 'View Frustum Boost',
                'excerpt': 'Adjusts the size of the view frustum used for rendering the ocean.',
                'description': 'The view frustum defines the visible portion of the scene from the camera’s perspective. This is used to cull parts of the ocean for performance, tweak this in case of unwanted artifacts.'
                'video': {
                    'src':'../docs/img/DOCUMENTATION/CAMERA_FRUSTUM_BOOST.mp4',
                    'alt':'Camera Frustum Boost'
                },
            },
            {
                'name': 'Far LOD Offset',
                'excerpt': 'Relative distance at which the lowest LOD level is used.',
            },
            {
                'name': 'Near LOD Offset',
                'excerpt': 'Relative distance at which the highest LOD level ends.',
            },
            {
                'name': 'LOD Exponent',
                'excerpt': 'Controls the transition between ocean LOD levels.',
            },
            {
                'name': 'Time Multiplier',
                'excerpt': 'The multiplier for simulation time.',
            },
            {
                'name': 'Water Edge',
                'excerpt': 'Enables the rendering of a defined boundary or edge for the water surface in the scene.',
                'description': 'This parameter controls the visibility and appearance of the boundary where the water meets the camera as it gets submerged.'
                'image': {
                    'src':'../docs/img/DOCUMENTATION/CAMERA_WATER_EDGE.png',
                    'alt':'Camera Water Edge'
                },
            },
            {
                'name': 'Z Offset',
                'excerpt': 'Adjusts the offset of the water edge boundary relative to the camera. ',
                'description': 'This parameter modifies the position of the boundary line, allowing for fine-tuning of its placement.'
            },
            {
                'name': 'Width',
                'excerpt': 'Control the width of the water edge. Generally recommended to extend it just past the camera boundary.',
            },
            {
                'name': 'Height',
                'excerpt': 'Control the height of the water edge, changing how large it appears on the screen.',
                'description': 'Positive values make the camera hydrophilic, while negative ones make it appear hydrophobic.'
            },
            {
                'name': 'Resolution',
                'excerpt': 'Determines the level of detail or smoothness of the water edge boundary line.',
                'description': 'This parameter controls the number of vertices or segments used to render the boundary line, affecting its visual quality and smoothness.'
            },

        ]
    },
    {
        'name': 'Waves',
        'icon': 'icons/blender-icons/MOD_OCEAN.svg',
        'parameters': [
            {
                'name': 'Smallest wave',
                'excerpt': 'Control the horizontal scale of the smallest waves (in meters).'
            },
            {
                'name': 'Largest wave',
                'excerpt': 'Control the horizontal scale of the largest waves (in meters).'
            },
            {
                'name': 'Wave height',
                'excerpt': 'Set the max range of wave amplitude (in meters).'
            },
            {
                'name': 'Wind speed',
                'excerpt': 'Set a wind speed to affect how waves get shaped.'
            },
            {
                'name': 'Distribution Log',
                'excerpt': 'A logarithmic distribution parameter for waves.',
                'description': 'Allows to bias waves towards higher or lower frequencies.'
            },
            {
                'name': 'Dispersion',
                'excerpt': 'Control wave dispersion angle.',
                'description': ' Low values make concentric wave strips, while higher values create a more chaotic ocean.'
            },
            {
                'name': 'Angle',
                'excerpt': 'Change the dominant wind and wave flow direction.'
            },
            {
                'name': 'Skew',
                'excerpt': 'Control wave skew strength.'
            },
            {
                'name': 'Choppiness',
                'excerpt': 'Control how sharp and choppy wave peaks appear.'
            },
            {
                'name': 'Foam Amount',
                'excerpt': 'Control the amount of foam forming at wave peaks.'
            },
        ]
    },
    {
        'name': 'Capillary Waves',
        'icon': 'icons/blender-icons/FORCE_FORCE.svg',
        'parameters': [
            {
                'name': 'Strength',
                'excerpt': 'The strength of capillary waves.',
                'description': 'Higher values make for more defined waves.'
            },
            {
                'name': 'Scale',
                'excerpt': 'Scale of capillary waves.',
                'description': 'A higher scale value means more waves per surface area.'
            },
            {
                'name': 'Stretch',
                'excerpt': 'Control stretching of capillary waves.',
                'description': 'Higher stretch value makes more stripey-appearing waves.'
            },
            {
                'name': 'Direction',
                'excerpt': 'The direction of capillary waves.',
                'description': 'Having this value differ from the dominant wave direction allows simulating effect of a local breeze being different from the main wind direction, as an example.'
            },
            {
                'name': 'Speed',
                'excerpt': 'Speed of capillary wave movement.'
            },
            {
                'name': 'Variance',
                'excerpt': 'Capillary wave variance across the ocean surface.',
                'description': 'Lower values make more uniform-looking capillary waves.'
            },
            {
                'name': 'Drag',
                'excerpt': 'How strongly major waves drag capillary waves along with them.'
            },
            {
                'name': 'Mask Scale',
                'excerpt': 'Control scale of the mask texture used to vary capillary wave distribution.'
            },
            {
                'name': 'Mask Offset',
                'excerpt': 'Offset the coordinates of the mask texture used to vary capillary wave distribution and macro scale roughness.'
            },
            {
                'name': 'Mask Minimum',
                'excerpt': 'Capillary wave amount in lower mask parts.'
            },
            {
                'name': 'Mask Maximum',
                'excerpt': 'Capillary wave amount in higher mask parts.'
            },
            {
                'name': 'Roughness Minimum',
                'excerpt': 'Water surface roughness in lower mask parts.'
            },
            {
                'name': 'Roughness Maximum',
                'excerpt': 'Water surface roughness in higher mask parts.'
            },
        ]
    },
    {
        'name': 'Wakes & Ripples',
        'icon': 'icons/blender-icons/SHARPCURVE.svg',
        'parameters': [
            {
                'name': 'Wakes',
                'excerpt': 'Select an object to be a wakes caster.'
            },
            {
                'name': 'Boolean',
                'excerpt': 'Select an object and enable the boolean checkbox to make the object cut a boolean hole in the ocean.'
            },
            {
                'name': 'Ripples',
                'excerpt': 'Select an object and enable the ripple checkbox to make the object produce ripples.'
            },
            {
                'name': 'Wake Height',
                'excerpt': 'Control the height/strength of wakes produced.'
            },
            {
                'name': 'Frequency Minimum',
                'excerpt': 'Sets the lowest frequency of waves and ripples, affecting larger, slow waves.'
            },
            {
                'name': 'Frequency Maximum',
                'excerpt': 'Sets the highest frequency of waves and ripples, affecting smaller, fast waves.'
            },
            {
                'name': 'Fade Distance',
                'excerpt': 'Controls how quickly waves and ripples diminish over distance in the simulation.'
            },
            {
                'name': 'Time Scale',
                'excerpt': 'How fast ripples move in the simulation.'
            },


        ]
    },
    {
        'name': 'Underwater',
        'icon': 'icons/blender-icons/POINTCLOUD_DATA.svg',
        'parameters': [
            {
                'name': 'Objects',
                'excerpt': 'Select objects with materials to apply underwater effects.'
            },
            {
                'name': 'Submerged Underwater',
                'excerpt': 'Toggle underwater calculations for selected objects materials.',
                'description': 'Enabling this adds underwater fog, light attenuation and surface tension effects to all materials of the selected objects.'
            },
            {
                'name': 'Advanced Intersection',
                'excerpt': 'Toggle advanced intersection calculation.',
                'description': 'Gives a more accurate underwater shader that matches wave shapes. Comes at a performance cost, so only use it for objects nearby where this is noticeable.'
            },
            {
                'name': 'Particles',
                'excerpt': 'Enables underwater particles.'
            },
            {
                'name': 'Domain size',
                'excerpt': 'Determine the size of a simulated particle domain around the camera.'
            },
            {
                'name': 'Domain Z Offset',
                'excerpt': 'Determine how far from the camera particle domain is visible.',
                'description': 'Use to avoid potentially cut-off particles.'
            },
            {
                'name': 'World Underwater',
                'excerpt': 'Allows to toggle underwater shader for world shader.',
                'description': 'It is used for ensuring a fully covered underwater shader, including default Eevee reflections and refractions.'
            },
            {
                'name': 'Advanced Volumetrics',
                'excerpt': 'Enable Blender volumetrics in the ocean shader.',
                'description': 'Allows for per-light interactions and shadows. High-performance impact, especially in Cycles.'
            },
            {
                'name': 'Volume Density',
                'excerpt': 'How strong the advanced volumetrics volume is.'
            },
            {
                'name': 'Volume Distance',
                'excerpt': 'Range in which the advanced volumetrics are used from the camera.'
            }
        ]
    },
]%}

!!! tip ""
    Hey👋, first time here? You can find the installation guide and first run in the [getting started](/pow/getting-started/) section.

* [Mesh](#mesh)
* [Material](#material)
* [Camera & LOD](#camera-lod)
* [Waves](#waves)
* [Capillary Waves](#capillary-waves)
* [Wakes & Ripples](#wakes-ripples)
* [Underwater](#underwater)


{% for section in documentation %}
## <span class="twemoji">{% include section.icon %}</span> {{ section.name }}
{% for parameter in section.parameters %}
### {{ parameter.name }}
<div class="parameter">
    <div class="parameter__info">
        <span>{{ parameter.excerpt }}</span>{% if parameter.description != '' %}<span style="margin-left: 4px; color: rgba(0,0,0,.5)">{{ parameter.description }}</span>{% endif %}
    </div>
    <div class="parameter__video">{% if parameter.video and parameter.video.src %}<video autoplay loop muted playsinline ><source src="{{parameter.video.src}}" type="video/mp4"></video>{% elseif parameter.image %}<img src="{{parameter.image.src}}" alt="{{parameter.image.alt}}" />{% endif %}</div>
</div>
{% if parameter.image_post %}<div class="parameter mb-64"><img src="{{parameter.image_post.src}}" alt="{{parameter.image_post.alt}}" /></div>{% endif %}
{% endfor %}
{% if section.post_block %}{{section.post_block}}{% endif %}
{% endfor %}